<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
         Card stats
        <div class="row">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Traffic</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">New users</h5>
                    <span class="h2 font-weight-bold mb-0">2,356</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                  <span class="text-nowrap">Since last week</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                    <span class="h2 font-weight-bold mb-0">924</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                  <span class="text-nowrap">Since yesterday</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                    <span class="h2 font-weight-bold mb-0">49,65%</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-percent"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <input type="text" class="form-control form-control-alternative w-25" placeholder="Tìm kiếm" [(ngModel)] = "searchText">
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Tên</th>
                  <th scope="col">Miêu tả</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col"></th>
                  <th scope="col">
                    <button type="button" class="btn btn-success" [routerLink]="['/item-employee','create','new']">Thêm mới</button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of resRole | search: searchText | paginate: {itemsPerPage: tableSize, 
                                                                                      currentPage: page, 
                                                                                      totalItems: count}; let i = index">
                  <!-- <th scope="row">
                    {{ item.idEmployee }}
                  </th> -->
                  <td>
                    {{ item.idRole }}
                  </td>
                  <td>
                    {{ item.nameRole }}
                  </td>
                  <td>
                    {{ item.description }}
                  </td>
                  <td>
                    {{ item.status }}
                  </td>
                  <td>
                    <!-- {{ item.isDelete }}  -->
                  </td>
                  <td class="text-right">
                    <div style="position: static !important" ngbDropdown placement="top-right">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <button class="dropdown-item" [routerLink]="['/item-employee','detail',item.idEmployee]">Chi Tiết</button>
                        <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="getDataRow(item)">Xóa</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
          <!-- <div class="card-footer py-4">        
            <ul class="pagination justify-content-end mb-0">
            <div class="py-5 flex justify-center item-center">
              <pagination-controls previousLabel="Prev"
              nextLabel="Next" (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div>
          </ul>
            <div class="div">
              <select (change)="onTableSizeChange($event)">
              <option *ngFor="let size of tableSizes">
              {{size}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
  
  <div class="modal fade" id="UpdateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="restoreEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="restoreEmployeeModalLabel">Xác nhận</h1>
          <button type="button"  #closeModalDelete class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body" *ngIf="resRoleTemp">
            <form>
                <h6 class="heading-small text-muted mb-4">Thông tin cá nhân</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Họ và tên</label>
                        <input [(ngModel)]="resEmployee.nameEmployee" name="nameEmployee" type="text" id="nameEmployee" class="form-control form-control-alternative" placeholder="Nhập họ tên" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group" *ngIf="resRole">
                        <label class="form-control-label" for="input-email">Chức vụ</label>
                        <select class="form-control" [(ngModel)]="resEmployee.roleId">
                          <option *ngFor="let role of resRole" [ngValue]="role.idRole">{{ role.nameRole }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Thông tin liên lạc</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">Điện thoại</label>
                        <input [(ngModel)]="resEmployee.phone" name="phone" type="text" id="phone" class="form-control form-control-alternative" placeholder="Nhập điện thoại">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Email</label>
                        <input [(ngModel)]="resEmployee.email" name="email" type="email" id="email" class="form-control form-control-alternative" placeholder="Nhập email">
                      </div>
                    </div>    
                  </div>
                </div>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>Địa chỉ</label>
                    <textarea [(ngModel)]="resEmployee.address" id="address"  name="address" rows="4" class="form-control form-control-alternative" placeholder="Nhập địa chỉ">
                  </textarea> 
                  </div>
                </div>
                <div _ngcontent-lbx-c149="" class="col-12 text-right" style="position: absolute; bottom: 10px; right: 10px;">
                  <button _ngcontent-lbx-c149="" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-sm btn-danger ng-star-inserted">Xóa</button>
                  <button _ngcontent-lbx-c149="" class="btn btn-sm btn-success ng-star-inserted" (click)="update()">Lưu</button>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="delete()">Xóa         
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Không</button>
        </div>
      </div>
    </div>
  </div> 

    
  <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="restoreEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="restoreEmployeeModalLabel">Xác nhận</h1>
          <button type="button"  #closeModalDelete class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body" *ngIf="resRoleTemp">
          Bạn có chắc muốn xóa
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="delete()">Xóa         
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Không</button>
        </div>
      </div>
    </div>
  </div> 
  
  